# Example environment variables for lets_search
# Copy this file to `.env` and set your real API keys.

PERPLEXITY_API_KEY='YOUR_API_KEY_HERE'
PERSON_INFO_LIST='[{"name": "Saroja Gadde", "location": "Philadelphia", "job": "IT and Tech professional"},{"name": "Shivam Sachan", "location":"Pune", "job": "IT and Tech professional"},{"name":"Ramanjeet Saini", "location": "Austin,Texas", "job": "IT and Tech professional"},{"name":"Amrit Bhat", "location":"Austin Texas", "job": "IT and Tech professional"},{"name": "Roger Owen Finch", "location":"philadelphia", "job": "IT and Tech professional"},{"name": "Nakul Asthana", "location":"Indore", "job": "IT and Tech professional"},{"name": "Parth Shrivastava", "location":"Pune", "job": "IT and Tech professional"},{"name": "Nikhil Nene", "location":"Pune", "job": "IT and Tech professional"},{"name": "Rochan Nehete", "location":"Austin", "job": "IT and Tech professional"}]'